*.o
*.a
test/.vscode/
test/plot/Data/*
test/plot/png/*
test/test
Validation/.vscode/
Validation/plot/Data/
Validation/plot/png/
Validation/plot/svg/
Validation/Validation
Validation/TwinHypar.csv
Validation/surface.txt
Validation/Lilienthal.cpp
Validation/Whitehead.cpp
Validation/plot/Gnuplot/Lilienthal.plt
Validation/plot/Gnuplot/Lilienthal_mesh.plt
Validation/plot/Gnuplot/Whitehead.plt
Validation/plot/Gnuplot/Whitehead_mesh.plt
Verification/.vscode/
Verification/plot/Gnuplot/WingLinear.plt
Verification/plot/Gnuplot/WingNonlinear.plt
Verification/plot/Data/
Verification/plot/png/
Verification/plot/svg/
Verification/WingLinear.cpp
Verification/WingNonlinear.cpp
Verification/Verification