*.o
*.a
test/.vscode/
test/plot/Data/*
test/plot/png/*
test/test
Validation/.vscode/
Validation/plot/Data/
Validation/plot/png/
Validation/plot/svg/
Validation/Validation
Validation/MAV.cpp
Validation/plot/Gnuplot/MAV.plt
Validation/plot/Gnuplot/MAV_v1.plt
Validation/plot/Gnuplot/MAV_v2.plt
Validation/plot/Gnuplot/MAV_n11.plt
Validation/plot/Gnuplot/MAV_n12.plt
Validation/plot/Gnuplot/MAV_n22.plt
Validation/plot/Gnuplot/MAV_vx.plt
Validation/plot/Gnuplot/MAV_vy.plt
Validation/plot/Gnuplot/MAV_s11.plt
Validation/plot/Gnuplot/MAV_s12.plt
Validation/plot/Gnuplot/MAV_s22.plt
Validation/plot/Gnuplot/MAV_mesh.plt
Validation/Lilienthal.cpp
Validation/plot/Gnuplot/Lilienthal.plt
Validation/plot/Gnuplot/Lilienthal_mesh.plt
Verification/.vscode/
Verification/plot/Data/
Verification/plot/png/
Verification/plot/svg/
Verification/Verification